body {
	font-family: "Avenir", Helvetica, sans-serif;
	font-weight: 100;
	font-size:1.25em;
}

h1 {
	width:100%;
	margin:0;
	width:100%;
	font-size:1.5em;
	color:#54A759;
}

h2 {
    width:100%;
	margin:0;
	width:100%;
	color:#54A759;
}

p {
	width:100%;
}

a, a:visited {
	color:#4F628F;
	text-decoration: none;
}

a:hover {
	color:#54A759;
}

ul {
	display:inline-block;
	margin:10px 0;
	padding:0;
}

li {
	display:inline-block;
	padding-left:30px;
}

table {
    font-family: "Courier New", Courier, monospace;
	border-spacing: 30px;
}

td {
	vertical-align: top;
}

.shipping {
    margin-bottom:0;
}

@media(min-width:768px) {
	body {
		font-size:1.5em;
	}
	h1 {
		font-size:2.5em;
	}
}
